
<nav class="pw-menunav">
  <div class="pw-navbar-container-icon" >
    <button class="pw-navbar-button-icon" (click)="closeOrOpenNavbar()">
      <img [src]="icon" alt="" class="pw-icon">
    </button>
  </div>
  <ul
  class="pw-menunav-element-hidden"
  [ngClass]="{'pw-menunav-element-show': showNavBar}"
  >
    <li *ngFor="let element of listNavElements; let i =index" class="pw-menunav-element">
      <a #navLink
        href="#"
        [ngClass]="{'element-selected': i == selectedIndex}"
        (click)="changeClass(i)"
      >{{element}}</a>
    </li>
  </ul>
</nav>
