
<nav class="pw-menunav">
  <ul #menuEleContainer
    class="pw-menunav-element-hidden"
    [ngClass]="{'pw-menuelements': showNavBar}"
    >
    <li *ngFor="let element of listNavElements; let i =index" class="pw-menunav-element">
      <a #navLink
        href="#"
        [ngClass]="{'element-selected': i == selectedIndex}"
        (click)="changeClass(i)"
      >{{element}}</a>
    </li>
  </ul>
  <span></span>
  <div class="pw-navbar-container-icon" >
    <button class="pw-navbar-button-icon" (click)="closeOrOpenNavbar()">
      <img src="./icons/close.svg" alt="" class="pw-icon">
    </button>
  </div>
</nav>
