
<!-- <app-navbar></app-navbar> -->

<nav class="pw-menunav">
  <div class="pw-navbar-container-icon" >
    <button class="pw-navbar-button-icon" (click)="closeOrOpenNavbar()">
      <img [src]="icon" alt="" class="pw-icon">
    </button>
  </div>
  <ul
  class="pw-menunav-element-hidden"
  [ngClass]="{'pw-menunav-element-show': showNavBar}"
  >
    <li *ngFor="let element of listNavElements; let i =index" class="pw-menunav-element">
      <a #navLink
        [href]="'#' + element.link"
        [ngClass]="{'element-selected': i == selectedIndex}"
        (click)="changeClass(i)"
      >{{element.name}}</a>
    </li>
  </ul>
</nav>

<app-home-section></app-home-section>
<app-aboutme id="aboutme"></app-aboutme>
<app-curriculum-section id="curriculum"></app-curriculum-section>
<app-projects-section id="projects"></app-projects-section>
<app-footer-section id="contact"></app-footer-section>

<router-outlet />
