
.pw-container-myinfo, .pw-container-skills{
  width: 100%;
  overflow-x: hidden;
}

.pw-container-myinfo{
  background-color: #1A535C;
  @apply text-white p-5 text-center;
  padding-top: 60px;
}

.pw-container-text{
  @apply flex flex-col gap-5 mx-auto;
  max-width: 800px;
}

.pw-avatar{
  @apply mx-auto w-64;
}

.pw-greeting{
  @apply text-yellow-300 text-2xl px-3;
  @apply md:text-3xl;
}

/* design for skills and his container  */

.pw-container-skills{
  background: linear-gradient(to bottom, #1A535C 150px, white 10%);
  @apply p-10 mb-10;
}

.pw-container-content-skills{
  @apply bg-white w-3/4 mx-auto rounded-2xl py-5 shadow-md;
  @apply grid grid-cols-1 gap-4;
  @apply lg:grid-cols-3 md:w-1/2;
}

.pw-skill{
  @apply py-5 flex flex-col text-center;
}

.pw-skill-no-last{
  @apply border-b-2;
  @apply lg:border-b-0 lg:border-r-2;
}

.pw-skill-container-icon{
  @apply bg-black w-12 mx-auto p-2 mb-3;
  border-radius: 50%;
}

.pw-skill h3{
  @apply mb-2 font-bold text-xl
}

@media (min-width: 768px){
  .pw-container-myinfo{
    padding-top: 50px;
  }
}

